<!DOCTYPE html>
<html>
  <head>
    <div class='page'>
      {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='./modules/static/style.css') }}">
      <title>{% block title %}{% endblock %} - RuangTyrannrex</title>
      {% endblock %}
    </div>
  </head>
  <body class='body'>
    <div id="content" class='page'>
      {% block content %}{% endblock %}
      <p><a href="{{ url_for('home') }}"> Back to index </a></p>
    </div>
  </body>
  <footer class='page'>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="http://domain.invalid/">RuangTyrannrex</a>.
      {% endblock %}
    </div>
  </footer>
</html>