{% extends "base.html" %}

{% block head %}
    {% block title %}FlOW007{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h5>FLOW007</h5>
            <p>Image</p>
            <p>Explanation</p>
            <p>Some might said, we dreamt too high</p>
        </div>
        <div class="col-sm-8">
            <form method="post">
                <input name="the_number" input_type='text' class="input_box" method='post' value='Reversed your number...'>
                <input type="submit">
            </form>
            <br>
            <div>
                <output id="flow007Output" class="result_box">
                    {% if answer %}
                        <h5>The given answer is {{ answer }}</h5>
                    {% else %}
                        <h5>Your number to be reversed</h5>
                    {% endif %}
                </output>
            </div>
        </div>
    </div>
{% endblock %}