{% extends "base.html" %}

{% block head %}
    {% block title %}FlOW007{% endblock %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>FLOW007</h3>
        </div>
        <div class="col-sm-12">
            <p>Image</p>
        </div>
        <div class="col-sm-12">
            <p>Explanation</p>
            <p>Some might said, we dreamt too high</p>
        </div>
        <div class="col-sm-12">
            <form method="post">
                <input name="the_number" input_type='text' class="input_box" method='post' value='Reversed your number...'>
                <input type="submit">
            </form>
            <div>
                <output id="flow007Output" class="result_box" >The given answer is {{ answer }} </output>
            </div>
        </div>
    </div>
{% endblock %}