{% extends "base.html" %}

{% block head %}
    <h1>{% block title %}{% endblock %}</h1>
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h3>HOME</h3>
    <h3>Some might said, we dreamt too high</h3>
    <div>
        <ul>
            <li><a href="{{ url_for('fortytwo_route') }}">LIFE -> /fortytwo</a></li>
            <li><a href="{{ url_for('flow_007') }}">FLOW007 -> /flow007</a></li>
            <li><a href="{{ url_for('lapindrome') }}">LAPINDROMES -> /lapindromes</a></li>
            <li><a href="{{ url_for('opt_prices') }}">ZCO14003 -> /zco14003</a></li>
        </ul>
    </div>
{% endblock %}