{% extends "base.html" %}

{% block head %}
    <h1>{% block title %}{% endblock %}</h1>
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>ZCO14003</h3>
        </div>
        <div class="col-sm-12">
            <p>Image</p>
        </div>
        <div class="col-sm-12">
            <p>Explanation</p>
            <p>Some might said, we dreamt too high</p>
        </div>
        <div class="col-sm-12">
            <p>Forms</p>
        </div>
    </div>
{% endblock %}